<section class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
<script type="text/javascript" src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/languages/{{ . }}.min.js"></script>
{{ end }}
{{ with $.Site.Params.comment }} {{ if eq .type "valine"}}
<script type="text/javascript" src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
 new Valine( {
     el: "#comment",
     visitor: true,
     recordIP: true,
     appId: "{{ .valine.id }}",
     appKey: "{{ .valine.key }}",
     placeholder: "{{ .valine.placeholder }}",
     path: window.location.pathname,
     avatar: "{{ .valine.avatar }}"
 });
</script>

{{end}}{{end}}
<script>hljs.initHighlightingOnLoad();</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
